.walking-girl {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: walk-in 5s ease-out forwards;
  display: flex;
  align-items: center;
}

/* Responsive Walk-in Animation */
@keyframes walk-in {
  0% {
    left: -30vw; /* Start off-screen */
  }
  100% {
    left: 50vw;  /* End around center */
  }
}

.visible {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
