.container {
    background-image: url(../Assets/background-image.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Make it stack vertically on small screens */
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
  }

  @media screen and (max-width: 768px) {
    .container {
      background-position: top center;  /* Optional: shift focus for mobile */
      padding-top: 3rem;
    }
  }
  