.container {
    background-image: url(../Assets//background-image.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #000;
}